<style>
  footer{
    background-color: #ff6b0e;
  }
  div{
    color: white;
  }
 </style>
<footer class=" text-center text-muted py-3 mt-5">
  <div class="container">
    <small>&copy; 2025 Sistema de Agendamento de Advocacia. Todos os direitos reservados.</small>
    <br>
    <small>&copy;TROPADOP</small>
  </div>
</footer>

