/* Estilos gerais para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

/* Container para centralizar o conteúdo */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 15px; /* Adicionado padding para prevenir que o conteúdo fique muito próximo das bordas */
}

/* Formulários */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Adicionado para garantir que o padding não afete o width */
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionada uma transição suave para o efeito de hover */
}

button:hover {
  background-color: #218838;
}

/* Estilos para a tabela */
table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #343a40;
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
